html {
	background-color: #ADD8E6;
	text-align: center;
}

body {
	font-family: Lato, sans-serif;
}

h1 {
	color: purple;
}

h6 {
	display: inline-block;
	border: 2px solid #323299;
	height: 150px;
	width: 150px;
	line-height: 150px;
	margin: 10px;
	border-radius: 100%;
}

#smogon {
	background-color: #6363B0;
}

#tumblr {
	background-color: #36465D;
}

#smogon, #tumblr {
	color: #4C4CFF;
	font-size: 11px;
}

#skype { 
	background-color: #00B0F4;
}

#discord {
	background-color: #7289DA;
}

#smogon:hover, #tumblr:hover {
	color: #ADD8E6;
}

#skype:hover, #discord:hover {
	color: inherit;
}

p {
	
}
