html {
	text-align: center;
}

body {
	font-family: Lato, sans-serif;
	background: url("../images/wave-background.jpg") no-repeat fixed center;
	background-size: cover;
}

.main {
	margin: 0 auto;
	background-color: #EFEFEF;
	border: 2px solid black;
	height: 150px;
	width: 500px;
	border-radius: 5px;
}
	
h1 {
	color: purple;
}

h6 {
	border: 2px solid black;
	height: 150px;
	width: 150px;
	line-height: 150px;
	margin: 10px;
	border-radius: 100%;
}

#smogon {
	background: 
	#6363B0 
	url('../images/zracknel-beta.png') 
	no-repeat 
	center 20px;
	background-size: 70%;
	/*-webkit-transition: background 0.5s, color 0.5s;*/
}

#tumblr {
	background: 
	#36465D 
	url('../images/tumblr-icon.png') 
	no-repeat 
	center center;
	background-size: 70%;
	/*-webkit-transition: background 0.5s, color 0.5s;*/
}

#github {
	background: 
	white
	url('../images/github-logo.png')
	no-repeat
	center center;
	background-size: 85%;
}

#smogon, #tumblr, #github {
	font-size: 15px;
	color: white;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}

#skype {
	background: 
	white 
	url('../images/skype-icon.png') 
	no-repeat 
	center center;
	background-size: 65%;
}

#discord {
	background: 
	#7289DA 
	url('../images/discord-icon2.png') 
	no-repeat 
	center center;
	background-size: 70%;
}

#phone {
	background: 
	#FCAEC4;
}

#smogon:hover, #tumblr:hover, #github:hover {
	color: #ADD8E6;
	-webkit-filter: brightness(125%);
}

#skype, #discord, #phone {
	color: white;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
  	-1px 1px 0 black,
  	1px 1px 0 black;
}

#skype:hover, #discord:hover {
	-webkit-filter: brightness(125%);
}

.links h6 {
	display: inline-block;
}

p {
	color: #FF75CE;	
}

#footer {
	display: block;
	background: linear-gradient(to right, #6300ef, #a700ef);
	height: 30px;
	line-height: 30px;
	width: 100%;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -50%;
}

form {
	display: inline;
}

button {
	display: inline;
}

#output {
	display: inline;
	color: purple;
}

.block-level {
	display: block;
	color: #FF75CE;
}

.string-reverser {
	margin: 0 auto;
	background-color: #EFEFEF;
	border: 2px solid black;
	height: 100px;
	width: 300px;
	border-radius: 5px;
}

.centered-text {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	width: 300px;
}
